node_modules/
**/node_modules/
dist/
**/dist/
.parcel-cache/
.vite/
.next/
coverage/
build/
tmp/
temp/
*.log
.DS_Store
Thumbs.db
README.html
*.env
*.local
*.pem
.idea/
.vscode/
.vs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
expo-debug.log
.expo/

